<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Hate or Date</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
		@import url('https://fonts.googleapis.com/css?family=Roboto:700');
		@keyframes showTopText {
		  0% { transform: translate3d(0, 100%, 0); }
		  40%, 60% { transform: translate3d(0, 50%, 0); }
		  100% { transform: translate3d(0, 0, 0); }
		}
		@keyframes showBottomText {
		  0% { transform: translate3d(0, -100%, 0); }
		  100% { transform: translate3d(0, 0, 0); }
		}
		.animated-title {
		  color: #222;
		  font-family: Roboto, Arial, sans-serif;
		  height: 90vmin;
		  left: 50%;
		  position: absolute;
		  top: 50%;
		  transform: translate(-50%, -50%);
		  width: 100vmin;
		  margin: 35px;
		}
		.animated-title > div {
		  height: 50%;
		  overflow: hidden;
		  position: absolute;
		  width: 100%;
		}
		.animated-title > div div {
		  font-size: 6vmin;
		  padding: 2vmin 0;
		  position: absolute;
		}
		.animated-title > div div span {
		  display: block;
		}
		.animated-title > div.text-top {
		  border-bottom: 1vmin solid #000;
		  top: 0;
		}
		.animated-title > div.text-top div {
		  animation: showTopText 3s;
		  animation-delay: 0.5s;
		  animation-fill-mode: forwards;
		  bottom: 0;
		  transform: translate(0, 100%);
		}
		.animated-title > div.text-top div span:first-child {
		  color: #767676;
		}
		.animated-title > div.text-bottom {
		  bottom: 0;
		}
		.animated-title > div.text-bottom div {
		  animation: showBottomText 0.5s;
		  animation-delay: 5.0s;
		  animation-fill-mode: forwards;
		  top: 0;
		  transform: translate(0, -100%);
		}
		.tinder--buttons {
        flex: 0 0 100px;
        text-align: center;
        padding-top: 20px;
      }

      .tinder--buttons button {
        border-radius: 50%;
        line-height: 12vmin;
        width: 12vmin;
        border: 0;
        background: #FFFFFF;
        display: inline-block;
        margin: 0 6vmin;
        cursor:pointer;
      }

      .tinder--buttons button:focus {
        outline: 0;
        cursor:pointer;
      }

      .tinder--buttons i {
        font-size: 64px;
        vertical-align: middle;
        cursor:pointer;
      }

      .fa-heart {
        color: #FFACE4;
      }

      .fa-remove {
        color: #CDD6DD;
      }

    div.absolute {
      position: absolute;
      width: 100%;
      bottom: 10vmin;
    }
    body {
        background-color: #f9f5f3;
    }
    </style>
  </head>
  <body>
  	<div class="animated-title">
	  <div class="text-top">
	    <div>
	      <span>{{ dilemma[0] }}</span>
	      <span>{{ dilemma[1] }}</span>
	    </div>
	  </div>
	  <div class="text-bottom">
	    <div>{{ dilemma[2] }}</div>
	  </div>
	</div>
	<div class="absolute">
  	<div class="tinder--buttons">
        <button id="nope"><i class="fa fa-remove"></i></button>
        <button id="love"><i class="fa fa-heart"></i></button>
    </div>
  </div>
  <script>
      function createButtonListener(love) {
          return function (event) {
            if (love) {
              console.log("Love it");
              location.replace("/dilemma")
            } else {
            console.log("Hate it");
            location.replace("/dilemma")
            }
            event.preventDefault();
          };
        };

        var nope = document.getElementById('nope');
        var love = document.getElementById('love');

        var nopeListener = createButtonListener(false);
        var loveListener = createButtonListener(true);

        nope.addEventListener('click', nopeListener);
        love.addEventListener('click', loveListener);
  </script>
  </body>
</html>